@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}


/* Paragraph */
.prose .space-y-4 p{
 margin-bottom:8px;
}

/* Paragraph */
.md\:text-left .md\:justify-start p{
 letter-spacing:5.1px;
}


@media (min-width:461px){

 /* Heading */
 .min-h-screen .shadow-sm .mx-auto .md\:justify-between .md\:text-left h2{
  text-align:left !important;
 }


 /* Paragraph */
 .min-h-screen .shadow-sm .mx-auto .md\:justify-between .md\:text-left .md\:justify-start p{
  transform:translatex(0px) translatey(0px) !important;
  letter-spacing:4.1px !important;
 }

}

@media (min-width:498px){

 /* Heading */




 /* Paragraph */
 .min-h-screen .shadow-sm .mx-auto .md\:justify-between .md\:text-left .md\:justify-start p{
  letter-spacing:4.6px !important;
 }

}

@media (min-width:640px){

 /* Flex shrink 0 */
 .min-h-screen .mx-auto .flex-shrink-0{
  text-align:center;
  display:flex;
  justify-content:center;
 }
 /* Heading */
 .min-h-screen .shadow-sm .mx-auto .md\:justify-between .md\:text-left .md\:justify-start h1{
  font-size:21px !important;
 }
 /* Heading */
 .md\:justify-between .md\:text-left h2{
  text-align:left;
 }

 /* Paragraph */
 .md\:text-left .md\:justify-start p{
  letter-spacing:3.9px;
 }

}
/* Heading */
.min-h-screen .shadow-sm .mx-auto .md\:justify-between .md\:text-left .md\:justify-start h1{
 font-size:28px !important;
}

/* Link */
.list-decimal li a{
 font-weight:600;
 color:#0e47c2;
}

/* Heading */
.md\:text-left .md\:justify-start h1{
 letter-spacing:0.5px;
}

/* Heading */
.min-h-screen .shadow-sm .mx-auto .md\:justify-between .md\:text-left .md\:justify-start h1{
 font-size:30px !important;
}

/* Paragraph */
.min-h-screen .shadow-sm .mx-auto .md\:justify-between .md\:text-left .md\:justify-start p{
 letter-spacing:4px !important;
}

/* Division */
.min-h-screen .mx-auto .md\:justify-between{
 display:grid;
 grid-template-columns:20% 50% 30%;
}

/* Division */
.min-h-screen .shadow-sm .mx-auto .md\:justify-between{
 grid-template-columns:20% 50% 30% !important;
}

/* Flex shrink 0 */
.min-h-screen .mx-auto .flex-shrink-0{
 justify-content:flex-start;
}

/* Division */
.min-h-screen .mx-auto .md\:text-left{
 padding-left:1px;
}

