@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/* Division */
.min-h-screen .w-full .sm\:justify-between{
 display:grid;
 grid-template-columns:20% 60% 20%;
}

/* Division */
.min-h-screen .border-b .w-full .mx-auto .sm\:justify-between{
 grid-template-columns:20% 60% 20% !important;
}

/* Header */
.min-h-screen header{
 transform:translatex(0px) translatey(0px);
}

/* Division */
.sm\:justify-between .sm\:text-left .sm\:justify-start{
 justify-content:center;
 align-items:center;
}

/* Auto */
.min-h-screen .w-full .mx-auto{
 margin-left:50px;
 margin-right:50px;
 transform:translatex(0px) translatey(0px);
}

/* Paragraph */
.sm\:text-left .sm\:justify-start p{
 letter-spacing:6.3px;
}

/* Heading */
.sm\:text-left .sm\:justify-start h1{
 font-size:35px;
}

/* Heading */
.sm\:justify-between .sm\:text-left h2{
 position:relative;
 left:-1px;
}
